<div class="columns is-centered">	
	<div class="column">
		<p id="notice"><%= notice %></p>

		<h1 class="title"><%= @channel.channel %> channel</h1>
		<% if has_role?(:admin) %>
			<%= link_to 'Edit', edit_channel_path(@channel), class: 'button is-warning' %>
			<%= link_to 'Back', channels_path, class: 'button is-info' %>
		<% end %>
	</div>
</div>