<% if current_page? portfolio_show_url(@portfolio_items.find_by(title: "Devcamp Portfolio")) %>
	<p><%= image_tag @portfolio_item.main_image, width: '100%' %></p>
<% elsif current_page? portfolio_show_url(@portfolio_items.find_by(title: "Overtime App")) %>
	<p><%= image_tag @portfolio_item.main_image, width: '100%' %></p>
<% else %>
	<p><%= image_tag @portfolio_item.main_image, width: '100%' %></p>
<% end %>