<body>
	<%= render 'shared/portfolio_nav' %>

	<main role="main">
		<%= render 'shared/portfolio_header' %>

		<div class="container marketing">
	    <%= render 'shared/portfolio_content' %>	    
	  </div>

	  <%= render 'shared/portfolio_footer' %>
	</main>

</body>