<main role="main" class="inner cover">
	<h1 class="cover-heading"><%= render 'greeting' %></h1>
	<p class="lead">
		Welcome to my Devcamp Capstone!  My name is Dustin Cintron, and I am a student of Devcamp and Bottega.  Inside this app you will find my full work & education experience with links to my social media, my previous demo projects, and a fully-functional discussion forum.  Each portion of this Capstone features it's own layout in a clear and concise presentation.<br> Please enjoy!
	</p>
	<p class="lead">
		<%= link_to "My History and Experience", about_me_path, class: 'btn btn-lg btn-secondary' %>
		<%= link_to "My Demo Projects", portfolios_path, class: 'btn btn-lg btn-secondary' %>
	</p>
</main>