<%= render 'shared/navbar' %>

<%= render 'shared/header' %>

<h1>Home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Portfolios", portfolios_path %>

<%= render 'shared/footer' %>