<main role="main" class="inner cover">
	<h1 class="cover-heading"><%= render 'greeting' %></h1>
	<p class="lead">
		My name is Dustin Cintron, and this is my Devcamp Capstone project!
	</p>
	<p class="lead">
		<%= link_to "About Me", about_me_path, class: 'btn btn-lg btn-secondary' %>		<!-- This is the line -->
		<a href="#" class="btn btn-lg btn-secondary">Learn more</a>
	</p>
</main>