.nav-masthead .active {
  color: green;
  border-bottom-color: green;
}

.app-nav span {
  margin-left: 10px;
  margin-right: 10px;
}

.text-white {
	color: white;
}

.fa-margin {
	margin-left: 10px;
	margin-right: 10px;
}

.text-color {  				/* replaces w3-text-teal */
	color: #228B22;
}

.bg-color {										/* replaces w3-teal */
	background-color: #228B22;
}