@import "bulma";
@import "functions";
@import "gritter";

body {
  font-family: 'Roboto', sans-serif;
}

.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.textarea {
  height: 200px;
  font-family: Monaco, san-serif;
  font-size: 1.2rem;
  padding: 1rem;
}

.discussion-title {
  margin-bottom: 0;
}

.button-seperate {
  margin-top: 5px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.channel-button-resize {
  font-size: 1.3rem;
  margin-right: 50px;
}

.margin-top {
  margin-top: 15px;
}

.margin-top-middle {
  margin-top: 40px;
}

.margin-top-plus {
  margin-top: 75px;
}

.center-this {
  text-align: center;
}